<p style="color: green"><%= notice %></p>

<div class="container-fluid">
<h1 class="text-center">Clients</h1>

<table class="table table-hover table-bordered">
<tbody>
<thead>
<tr class="table-light">
  <th scope="col">Client Name</th>
  <th></th>
</tr>
</thead>

<% @clients.each do |client| %>
    <tr>
      <td><%= client.name %></td>
      <td><%= link_to "Show", client, class: "btn btn-outline-primary" %></td>
    </tr>
    <% end %>
    </tbody>
  </table>

<%= link_to "New client", new_client_path, class: "btn btn-primary" %>
</div>
