<div class="container">
<table class="table table-bordered">
  <tbody>
    <tr>
        <td class="align-middle"><i class="bi bi-people" style="font-size: 2rem"></i></td>
        <td class="align-middle">Clients</td>
        <td class="align-middle">
        <%= link_to clients_path do %>
          <i class="bi bi-search"></i>
        <% end %>
        </td>
    </tr>
  </tbody>
</table>
</div>